{% extends 'base.html.twig' %}
{% block content %}

{% block body %}
    <h1>Conference</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ conference.nom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ conference.date ? conference.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Topic</th>
                <td>{{ conference.sujet }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ conference.budget }}</td>
            </tr>
            <tr>
                <th>Private</th>
                <td>{{ conference.typeconf ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Emplacement</th>
               <td><a href="{{ path('emplacement_show', {'id': conference.emplacement.id}) }}">{{ conference.emplacement.gouvernourat }}, {{ conference.emplacement.ville }}, {{ conference.emplacement.label }}</a></td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img style="width: 80px; height: 80px" src="{{ asset('images/' ~ conference.image) }}"></td>
            </tr>
            
        </tbody>
    </table>

    <a class="back-button" href="{{ path('app_conference_index') }}">back to list</a>

    <a class="edit-button" href="{{ path('app_conference_edit', {'id': conference.id}) }}">

                            <img src="{{ asset('img/editIcon.svg') }}" alt="Edit Icon">

                    </a>

    {{ include('conference/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
