<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confera</title>
    <link rel="icon" href="{{ asset('img/ConferaIcon.svg') }}" type="image/x-icon">
        <link  rel="stylesheet" href="{{ asset('css/Styless.css') }}">

</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <nav class="toolbar">
            <img src="{{ asset('img/ConferaIcon.svg') }}" alt="appIcon"> <!-- app icon -->
            <hr class="space-divider"> <!-- Horizontal line for space -->

            <nav id="menu"> <!-- tool icons -->
                <li><a href="{{ path('app_session_index') }}"><img src="{{ asset('img/ListIcon.svg') }}" alt="Page">  </a></li>
                <li><a href="{{ path('app_sponsor_index') }}"><img src="{{ asset('img/SponsorIcon.svg') }}" alt="External Link">  </a></li>

                <li><a href="{{ path('app_uidcard_index') }}"><img src="{{ asset('img/uidcard.svg') }}" alt="Home"> </a></li>
                 <li><a href="{{ path('app_dash_index') }}"><img src="{{ asset('img/uidcard.svg') }}" alt="budget"> </a></li>


                <li><a href="shortcodes.html"><img src="{{ asset('img/ProfileIcon.svg') }}" alt="Shortcodes"> </a></li>
            </nav>
        </nav>
        <button class="logout-button"><img src="{{ asset('img/LogoutIcon.svg') }}" alt="Icon"></button>


    </div>

    <div class="main">
        <header class="header">
            <div class="title">{% block title %}
                    Conference List
                {% endblock %}</div>
            <div class="ProfileBox">
                <div class="MaskGroup">
                    <img class="ProfileImage" src="{{ asset('img/ProfileImage.svg') }}" alt="Profile Image">
                    <div class="ProfileCord">
                        <span>Mokded Shili</span><br>
                        <span>Organisateur</span>
                    </div>
                </div>
            </div>
        </header>
        <script src="//code.jquery.com/jquery.js"></script>
        <script>function flashy(message, link) {
                var template = $($('#flashy-template').html())
                $('.flashy').remove()
                template
                    .find('.flashy__body')
                    .html(message)
                    .attr('href', link || '#')
                    .end()
                    .appendTo('body')
                    .hide()
                    .fadeIn(300)
                    .delay(2800)
                    .animate(
                        {
                            marginTop: '-100%'
                        },
                        300,
                        'swing',
                        function() {
                            $(this).remove()
                        }
                    )
            }
        </script>
        {% block body %}
            <div class="playground">

                {% block step %}
                {% endblock %}
                <div class="column">

                    <div class="row">

                        <div class="Widget" >
                            <div class="centered-div">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                        {% block sideContent%}
                        {% endblock %}
                    </div>
                </div>
                {% block bottomContend%}
                {% endblock %}

            </div>
        {% endblock %}


        <!-- Add your main content here -->
    </div>
</div>
</body>
</html>
