<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confera</title>
    <link rel="icon" href="{{ asset('img/ConferaIcon.svg') }}" type="image/x-icon">
    <link  rel="stylesheet" href="{{ asset('css/styles.css') }}">
  

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <nav class="toolbar">
            <img src="{{ asset('img/ConferaIcon.svg') }}" alt="appIcon"> <!-- app icon -->
            <hr class="space-divider"> <!-- Horizontal line for space -->

            <nav id="menu"> <!-- tool icons -->
                <li><a href="index.html"><img src="{{ asset('img/infoIcon.svg') }}" alt="Home"> </a></li>
                <li><a href="simple_page.html"><img src="{{ asset('img/ListIcon.svg') }}" alt="Page">  </a></li>
                <li><a href="shortcodes.html"><img src="{{ asset('img/ProfileIcon.svg') }}" alt="Shortcodes"> </a></li>
                <li><a href="https://www.google.com"><img src="{{ asset('img/SponsorIcon.svg') }}" alt="External Link">  </a></li>
            </nav>
        </nav>
        <button class="logout-button"><img src="{{ asset('img/LogoutIcon.svg') }}" alt="Icon"></button>


    </div>

    <div class="main">
        <header class="header">
            <div class="title">{% block title %}
                    Conference List
                {% endblock %}</div>
            <div class="ProfileBox">
                <div class="MaskGroup">
                    <img class="ProfileImage" src="{{ asset('img/ProfileImage.svg') }}" alt="Profile Image">
                    <div class="ProfileCord">
                        <span>Mokded Shili</span><br>
                        <span>Organisateur</span>
                    </div>
                </div>
            </div>
        </header>

        <div class="playground">
            {% block step %}
            {% endblock %}

                <div class="Widget" >

                    <div class="centered-div">
                        {% block content %}
                        {% endblock %}
                    </div>

                </div>



        </div>


        <!-- Add your main content here -->
    </div>
</div>
</body>
</html>
