<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('front/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <title>Confera</title>
    <link rel="icon" href="{{ asset('img/ConferaIcon.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('front/assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/templatemos.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/owl.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/animate.css') }}">
    <link  rel="stylesheet" href="{{ asset('css/conference.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <!-- TemplateMo 582 Tale SEO Agency -->
    <!-- https://templatemo.com/tm-582-tale-seo-agency -->
</head>
<body>
<!-- ***** Pre-Header Area Start ***** -->
<div class="pre-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-9">
                <div class="left-info">
                    <ul>
                        <li><a href="#"><i class="fa fa-phone"></i>+216 93 269 546</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i>zoummourouda@esprit.com</a></li>
                        <li><a href="#"><i class="fa fa-map-marker"></i>St. Esprit Tunis Ghazela</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-3">
                <div class="social-icons">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Pre-Header Area End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="{{ asset('front/assets/images/logo.png') }}" alt="" style="max-width: 112px;margin-top:15px ">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top"  style=" font-family: 'SF Pro Display', sans-serif;" class="active">Conference</a></li>
                        <li class="scroll-to-section"><a href="#sessions" style=" font-family: 'SF Pro Display', sans-serif;">Session</a></li>
                        <li class="scroll-to-section"><a href="#section_3" style=" font-family: 'SF Pro Display', sans-serif;">Topics</a></li>
                        <li class="scroll-to-section"><a href="#section_4" style=" font-family: 'SF Pro Display', sans-serif;">Presence</a></li>
                        <li class="scroll-to-section"><a href="#projects" style=" font-family: 'SF Pro Display', sans-serif;">Our Sponsors</a></li>
                        <li class="scroll-to-section"><a href="#infos" style=" font-family: 'SF Pro Display', sans-serif;">Infos</a></li>

                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<div class="main-banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="caption header-text">
                    {% block conference %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="projects section" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Discover Our <em>Loyal</em>  <span>Sponsors</span></h2>
                    <div class="line-dec">

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">


                                    {% block sponsoring %}
                                    {% endblock %}

                                </div>
                            </div>
                        </div>
                    </div>

                    <p>Thank you for your support</p>
                    <p>
                </div>
            </div>
        </div>
    </div>

</div>



<div id="sessions" class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h4>This is Our Sessions</h4>
                    <img src="{{ asset('front/assets/images/heading-line-dec.png') }}" alt="">
                    <p>Select the Session you want to see her  <a  href="#section_3" >Topics</a> .</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% block sessions %}
            {% endblock %}




        </div>
    </div>
</div>







<section class="presence-section-padding" id="section_4">


    <div class="container">
        <div class="row">


            {% block presence %}
            {% endblock %}



        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="col-lg-12">
            <p>Copyright © 2036 <a href="#">Confera Template</a>. All rights reserved.

                <br>Design: <a href="https://www.figma.com/file/zWIawDW9U7uLPruy57755M/Confera?type=design&node-id=0%3A1&mode=design&t=jPRFimlHmnWyotmg-1" target="_blank">Ahmed Douss</a></p>
        </div>
    </div>
</footer>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="{{ asset('front/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('front/vendor/bootstrap/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('front/assets/js/isotope.min.js') }}"></script>
<script src="{{ asset('front//js/owl-carousel.js') }}"></script>
<script src="{{ asset('front/assets/js/tabs.js') }}"></script>
<script src="{{ asset('front/assets/js/popup.js') }}"></script>
<script src="{{ asset('front/assets/js/tester.js') }}"></script>
<script src="{{ asset('front/assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('front/assets/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('front/assets/js/jquery.sticky.js') }}"></script>
<script src="{{ asset('front/assets/js/click-scroll.js') }}"></script>



</body>
</html>
