{% extends 'F_base.html.twig' %}



{% block conference %}

  <section class="articles">


    {% for conference in conferences %}
            <article id="{{ conference.id }}">
                <div class="article-wrapper">
                    <figure>
                        <img src="{{ asset('images/' ~ conference.image) }}">
                    </figure>
                    <div class="article-body">
                        <h2>{{ conference.nom }}</h2>
                        <p>{{ conference.date ? conference.date|date('Y-m-d') : '' }}</p>
                        <p>Location: {{ conference.emplacement.gouvernourat }}, {{ conference.emplacement.ville }}, {{ conference.emplacement.label }}</p>
                        <p>Private: {{ conference.typeconf ? 'Yes' : 'No' }}</p>
                    </div>
                </div>
            </article>
                    <div class="share-buttons" id="share-buttons">
                        <a class="twitter" target="blank"><i class="fab fa-twitter"></i></a>

                        </div>
                
     {% endfor %}
<script>
    const title = encodeURIComponent('Article or Post Title Here');
    document.querySelectorAll('.twitter').forEach((twitter, index) => {
        const conference = document.querySelectorAll('.article-wrapper')[index];
        const conferenceName = conference.querySelector('h2').innerText;
        const conferenceDate = conference.querySelector('p:nth-child(2)').innerText;
        const conferenceLocation = conference.querySelector('p:nth-child(3)').innerText;
        const msg = encodeURIComponent(`Check out this conference: ${conferenceName}, Date: ${conferenceDate}, Location: ${conferenceLocation}`);
        
        twitter.href = `http://twitter.com/share?text=${msg}`;
    });
</script>


{% endblock %}